* {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 900px){
    body {
        background-color: #3FC4E4;
    }
    .header {
        display: grid;
        grid-template-columns: 2fr, 2fr;
        grid-template-rows: 2fr;
        padding: 3rem;
        position: sticky
    }
    .header-title {
        color: #F8DB9A;
        text-align: left;
        
    }
    .antonfont {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 102px;
    
    }
    .fa-bars {
        grid-row-start: 1;
        grid-column-start: 2;
        font-size: 140px;
        width: 0;
    }
    .fa-bars:hover {
        cursor: pointer
    }
}
@media only screen and (min-width: 1920px){
    .header {
        background-color: #F8DB9A;
        padding: 2rem;
        position: sticky
    }
    .header-title {
        color: #ffffff;
        text-align: left;
        
    }
    .antonfont {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;
    
    }
}

/*
Color Scheme

#E4C2C1
#F53163
#FEF2F2

*/