* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E4C2C1;
}
.header {
    background-color: #FEF2F2;
    padding: 3rem;
    position: sticky
}
.header-title {
    color: #F53163;
    text-align: left;
    
}
.antonfont {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 102px;

}
/*
Color Scheme

#E4C2C1
#F53163
#FEF2F2

*/