* {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 900px){
    body {
        background-color: #ffffff;
    }
    .header__nav__gridContainer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        padding-left: 4.5rem;
    }
    .header__nav__gridContainer__items {
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        width: 700px;
        
    }
    .header__nav__gridContainer__item {
        color: rgb(0, 0, 0);
        font-size: 35px;
        font-weight: 600;
        text-decoration: none;
    }
    .header__nav__gridContainer__item:hover {
        text-decoration: underline;
    }
    .header__nav__gridContainer__items li {
        list-style-type: none;
    }
    .header__nav__gridContainer__title {
        color: rgb(0, 0, 0);
        font-size: 55px;
    }
    .section__gridContainer {
        display: grid;
        gap: 10px;
        width: 65%;
        height: 700px;
        grid-template-columns: 31.3rem 1fr;
        grid-template-rows: 22.7rem 1fr;
        margin: 10rem auto;
    }
    .section__gridContainer__imgOne {
        width: 500px;
        grid-column: 1 / 2;
    }
    .section__gridContainer__imgTwo {
        width: 700px;
        height: 873.7px;

    }
    .section__gridContainer__imgThree {
        width: 500px;
        height: 500px;
    }
    .antonfont {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
    
    }
    .fa-bars {
        grid-row-start: 1;
        grid-column-start: 2;
        font-size: 140px;
        width: 0;
    }
    .fa-bars:hover {
        cursor: pointer
    }
}

/*
Color Scheme

#E4C2C1
#F53163
#FEF2F2

*/